In [6]:
import pandas as pd

In [7]:

df=pd.DataFrame([[1,2,3],[4,5,6],[7,8,9]], columns=["A","B","c"])

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   A       3 non-null      int64
 1   B       3 non-null      int64
 2   c       3 non-null      int64
dtypes: int64(3)
memory usage: 204.0 bytes

In [9]:
coffee=pd.read_csv('./warmup-data/coffee.csv')

In [11]:
coffee.head()

         Day Coffee Type  Units Sold
0     Monday    Espresso          25
1     Monday       Latte          15
2    Tuesday    Espresso          30
3    Tuesday       Latte          20
4  Wednesday    Espresso          35

In [ ]:
results=pd.read_parquet('./data/results.parquet')

In [16]:
results.shape

(308408, 11)

In [21]:
olympics_data=pd.read_excel('./data/olympics-data.xlsx')
bios = pd.read_csv('./data/bios.csv')

In [20]:
olympics_data.shape

(145500, 10)

In [22]:
coffee

          Day Coffee Type  Units Sold
0      Monday    Espresso          25
1      Monday       Latte          15
2     Tuesday    Espresso          30
3     Tuesday       Latte          20
4   Wednesday    Espresso          35
5   Wednesday       Latte          25
6    Thursday    Espresso          40
7    Thursday       Latte          30
8      Friday    Espresso          45
9      Friday       Latte          35
10   Saturday    Espresso          45
11   Saturday       Latte          35
12     Sunday    Espresso          45
13     Sunday       Latte          35

In [27]:
coffee.loc[[0,1,2]]

       Day Coffee Type  Units Sold
0   Monday    Espresso          25
1   Monday       Latte          15
2  Tuesday    Espresso          30

In [28]:
coffee.loc[0:3,["Day","Coffee Type"]]

       Day Coffee Type
0   Monday    Espresso
1   Monday       Latte
2  Tuesday    Espresso
3  Tuesday       Latte

In [29]:
coffee.iloc[0:3,[0,1]]

       Day Coffee Type
0   Monday    Espresso
1   Monday       Latte
2  Tuesday    Espresso